body {
    background:black;
    color:lime;
    font-family: monospace;
    text-align:center;
}

.menu {
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

.card {
    border:2px solid lime;
    padding:20px;
    width:140px;
    cursor:pointer;
    background:#050505;
    transition:0.2s;
}

.card:hover {
    transform:scale(1.1);
}

.locked {
    opacity:0.5;
    cursor:not-allowed;
}

.hud {
    margin:10px;
    font-size:18px;
}

canvas {
    border:2px solid lime;
    background:black;
}
