body {
    background: black;
    color: lime;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

h1 {
    color: cyan;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    border: 2px solid lime;
    padding: 20px;
    margin: 10px auto;
    width: 220px;
    background: #111;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    background: #222;
    transform: scale(1.05);
}

.topbar {
    background: #111;
    border-bottom: 2px solid lime;
    padding: 10px;
}
